[Unit]
Description=Add Flatpak Repos
ConditionPathExists=!/var/lib/flatpak/.flatpak-repos-added
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
ExecStart=/usr/bin/flatpak remote-modify --no-filter --enable flathub
ExecStart=/usr/bin/flatpak override --system --filesystem=xdg-config/gtk-3.0:ro
ExecStart=/usr/bin/flatpak override --system --filesystem=xdg-config/gtk-4.0:ro
ExecStart=/usr/bin/flatpak override --system --filesystem=xdg-data/icons:ro
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flatpak-repos-added

[Install]
WantedBy=graphical.target